<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://lutraq.net.nz/thymeleaf/layout" 
 layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title th:text="#{edit-fees}"></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<form th:action="@{/edit-fees-for-admin}" method="post" th:object="${feesForm}">
				<div class="row m-3 justify-content-center">
					<div class="col-sm-5">
						<h4 th:text="#{edit-fees}"></h4>
					</div>
				</div>
				<div class="row m-3 justify-content-center">
					<div class="border border-dark col-10">
						<div th:each="subject, sStat:*{subjects}">
							<div class="row mt-2 justify-content-center">
								<div class="col-sm-4">
									<h5 th:text="${subject.subject}"></h5>
								</div>
								<div class="col-sm-2 col-6">
									<div th:each="grade:${subject.gradeList}">
										<h6 th:text="${grade.grade}"></h6>
									</div>
								</div>
								<div class="col-sm-2 col-6">
									<div th:each="grade, fStat:*{subjects[__${sStat.index}__].gradeList}" style="display: flex;">
										<div><input type="text" style="width: 80px;"th:field="*{subjects[__${sStat.index}__].gradeList[__${fStat.index}__].fees.fee}"></div>
										<div th:text="#{yen}"></div>
										<input type="hidden" th:field="*{subjects[__${sStat.index}__].gradeList[__${fStat.index}__].fees.id}">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center m-3">
					<div class="col-sm-3 col-6">
						<a th:href="@{/admin-fees-for-admin}" th:text="#{back}"></a>
					</div>
					<div class="col-sm-4 col-6">
						<input type="submit" th:value="#{edit-fees-btn}" class="btn btn-danger">
					</div>
				</div>
			</form>
		</div>
	</div>

</body>
</html>