<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title th:text="${info.title}"></title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<h3 th:text="${info.title}"></h3>
			<div th:text="${#dates.format(info.postDate, 'yyyy年MM月dd日(E)')}"></div>
			<div th:text="${info.content}" style="white-space: pre-wrap;"></div>
			<a href="javascript:history.back();" th:text="#{back}" class="btn btn-secondary rounded-pill text-light"></a>
		</div>
	</div>

</body>
</html>