<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://lutraq.net.nz/thymeleaf/layout" 
 layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title th:text="#{admin-infos}"></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/admin-infos-for-admin.css}">
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="row m-2 justify-content-center">
				<div class="col-sm-7">
					<h3 class="pt-1" th:text="#{admin-infos}"></h3>
				</div>
				<div class="col-sm-3">
					<a th:href="@{/add-info-for-admin}" th:text="#{add-info-btn}" class="btn btn-primary"></a>
				</div>
			</div>
			<div class="row m-2 justify-content-center">
				<div class="col-1l" style="overflow-y: scroll; ">
					<div th:if="${infos.size == 0}">
						<div class="row justify-content-center">
							<div class="col-5">
								<div class="text-center m-5" th:text="#{no-infos-msg}"></div>
							</div>
						</div>
					</div>
					<ul class="list-group border border-dark" style="height: 300px;">
						<li class="mw-100 list-group-item border border-dark">
							<div th:each="info:${infos}">
								<div class="row mt-3">
									<div class="col-sm-6">
										<div class="row">
											<div class="col">
												<div th:text="${#dates.format(info.postDate, 'yyyy年MM月dd日(E)')}"></div>
											</div>
										</div>
										<dvi class="row">
											<dvi class="col">
												<h5 th:text="${info.title}"></h5>
											</dvi>
										</dvi>
									</div>
									<div class="col-sm-3 col-6">
										<a th:href="@{/edit-info-for-admin/{id} (id = ${info.id})}" th:text="#{edit-info}" class="btn btn-primary"></a>
									</div>
									<div class="col-sm-3 col-6">
										<a th:href="@{/delete-info-for-admin/{id} (id = ${info.id})}" th:text="#{delete-info}" class="btn btn-danger"></a>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</body>
</html>