<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://lutraq.net.nz/thymeleaf/layout" 
 layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title th:text="#{edit-info-long}"></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="row">
				<div class="col">
					<h4 th:text="#{edit-info-long}"></h4>
				</div>
			</div>
			<form th:action="@{/edit-info-for-admin/{id} (id = ${id})}" method="post" th:object="${addEditInfoForm}">
				<div class="row">
					<dvi class="col">
						<h5 th:text="#{title}"></h5>
					</dvi>
				</div>
				<div class="row">
					<div class="col">
						<input type="text" th:field="*{title}" th:errorclass="is-invalid" class="col-10">
						<div class="invalid-feedback" th:errors="*{title}"></div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<h5 th:text="#{content}"></h5>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<textarea th:field="*{content}" th:errorclass="is-invalid" class="col-10"></textarea>
						<div class="invalid-feedback" th:errors="*{content}"></div>
					</div>
				</div>
				<div class="row m-3 justify-content-end">
					<div class="col-sm-3 col-6">
						<a th:href="@{/admin-infos-for-admin}" th:text="#{back}"></a>
					</div>
					<div class="col-sm-3 col-6">
						<input type="hidden" th:field="*{id}">
						<input type="submit" th:value="#{edit-info-btn}" class="btn btn-danger">
					</div>
				</div>
			</form>
		</div>
	</div>

</body>
</html>