<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http;//ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title th:text="#{change-password}"></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="row">
				<div class="col">
					<h3 th:text="#{change-password}"></h3>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div th:text="#{change-password-msg}"></div>
				</div>
			</div>
			<form th:action="@{/change-password}" method="post" th:object="${changePasswordForm}">
				<div class="row p-3 justify-content-center">
					<label th:text="#{pass}" class="form-label col-sm-3 text-sm-end" for="pass"></label>
					<div class="col-sm-7">
						<input type="password" th:field="*{pass}" class="form-control" th:errorclass="is-invalid" th:classappend="${#fields.hasErrors('passwordValid')} ? 'is-invalid'">
						<div class="invalid-feedback" th:errors="*{pass}"></div>
						<div th:if="${#fields.hasErrors('passwordValid')}" class="invalid-feedback" th:errors="*{passwordValid}"></div>
					</div>
				</div>
				<div class="row p-3 justify-content-center">
					<label th:text="#{pass-check}" class="form-label col-sm-3 text-sm-end" for="passCheck"></label>
					<div class="col-sm-7 mb-5">
						<input type="password" th:field="*{passCheck}" class="form-control" th:errorclass="is-invalid" th:classappend="${#fields.hasErrors('passwordValid')} ? 'is-invalid'">
						<div class="invalid-feedback" th:errors="*{passCheck}"></div>
						<div th:if="${#fields.hasErrors('passwordValid')}" class="invalid-feedback" th:errors="*{passwordValid}"></div>
					</div>
				</div>
				<div class="row m-3 justify-content-end mt-5">
					<div class="col-sm-4 col-6">
						<a th:href="@{/change-account-info}" th:text="#{back}"></a>
					</div>
					<div class="col-sm-4 col-6">
						<input type="submit" class="btn btn-primary" th:value="#{change-password-btn}">
					</div>
				</div>
				
			</form>
		</div>
	</div>

</body>
</html>