<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title th:text="#{complete-booking}"></title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<h3 th:text="#{complete-booking}"></h3>
			<p th:text="#{complete-booking-msg}" class="mt-5 text-center"></p>
			<div class="text-center"><a th:href="@{/exam-schedule}" th:text="#{exam-schedule-link}" class="mb-5 text-center btn btn-primary text-light rounded-pill"></a></div>
		</div>
	</div>

</body>
</html>