<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="#{exams-guide}"></title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<h3 th:text="#{exam-guide-header}"></h3>
			<div th:each="subject:${subjects}">
				<div class="row pt-1 justify-content-center">
					<div class="col-sm-3" style="background-color: darkblue;">
						<h3 th:text="${subject.subject}" class="text-light"></h3>
					</div>
					<div class="col-sm-6" style="background-color: darkblue;">
						<h5 th:text="${grades}" class="text-light"></h3>
					</div>
					<div class="col-sm-3">
						<form th:action="@{/call-select-grade}" method="post">
							<input type="hidden" name="subjectId" th:value="${subject.id}">
							<button type="submit" th:text="#{book}" style="font-size: 20px;" class="text-large text-light btn bg-primary rounded-pill"></button>
						</form>
					</div>
				</div>
				<a th:href="@{/exam-details/{id} (id = ${subject.id})}" th:text="#{exam-details-link}" style="font-size: 20px;" class="btn btn-success rounded-pill text-light"></a>
			</div>
			<h3 th:text="#{infos}" class="mt-3"></h3>
			<div th:if="${infos.size == 0}">
				<p th:text="#{no-infos-msg}" class="text-center m-5"></p>
			</div>
			<ul class="list-group mb-5">
				<li class="list-group-item" th:each="info:${infos}">
					<div class="row">
						<div class="col-3">
							<p th:text="${#dates.format(info.postDate, 'yyyy年MM月dd日(E)')}"></p>
						</div>
						<div class="col-9">
							<a th:text="${info.title}" th:href="@{/info-details/{id} (id = ${info.id})}"></a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

</body>
</html>