<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="language.exam.repository.ExamInfosMapper">
	<resultMap type="language.exam.domain.exams.model.ExamInfos" id="examInfos">
		<result column="e_id" property="id"></result>
		<result column="subject_id" property="subjectId"></result>
		<result column="grade_id" property="gradeId"></result>
		<result column="exam_date" property="examDate"></result>
		<result column="old_date" property="oldDate"></result>
		<result column="place_id" property="placeId"></result>
		<result column="comments" property="comments"></result>
		<result column="cancel" property="cancel"></result>
		<association property="subjects" resultMap="language.exam.repository.SubjectsMapper.subjects"></association>
		<association property="grades" resultMap="language.exam.repository.GradesMapper.grades"></association>
		<association property="places" resultMap="language.exam.repository.PlacesMapper.places"></association>
	</resultMap>
	<select id="selectExamInfosForUsers" resultMap="examInfos">
		select id as e_id, exam_date from exam_infos 
		where exam_date &gt; curdate() + interval 1 month  
		and cancel = 0 
		and subject_id = #{subjectId} 
		and grade_id = #{gradeId} 
		and place_id = #{placeId} 
		order by exam_date asc 
	</select>
	
	<select id="selectExamInfo" resultMap="examInfos">
		select  exam_infos.id as e_id, exam_date, comments, exam_infos.subject_id, exam_infos.grade_id, subjects.id, subjects.subject, grades.id as g_id, grades.grade, places.id as p_id, places.place from exam_infos 
		join subjects 
		on subject_id = subjects.id 
		join grades 
		on grade_id = grades.id 
		join places 
		on place_id = places.id 
		where exam_infos.id = #{examId}  
	</select>
	
	<select id="countExamInfos" resultType="int">
		select count(*) from exam_infos 
		where id = #{examId} 
		and exam_date &gt; curdate() + interval 1 month  
	</select>
	
	<select id="selectExamDates" resultMap="examInfos">
		select exam_date from exam_infos 
		where cancel = 0 
		and subject_id = #{subjectId} 
		and grade_id = #{gradeId} 
		and place_id = #{placeId} 
		order by exam_date asc  
	</select>
	
	<select id="selectExamInfosForAdmin" resultMap="examInfos">
		select exam_infos.id as e_id, exam_date, exam_infos.comments, exam_infos.cancel, subjects.id, subjects.subject, grades.id as g_id, grades.grade, places.id as p_id, places.place from exam_infos 
		join subjects 
		on subject_id = subjects.id 
		join grades 
		on grade_id = grades.id 
		join places 
		on place_id = places.id 
		where exam_date &gt;= curdate()  
		order by exam_date asc, subject_id asc, grade_id asc, place_id asc 
		limit #{size} offset #{offset} 
	</select>
	
	<select id="countExamInfosForAdmin" resultType="int">
		select count(*) from exam_infos 
	</select>
	
	<insert id="insertExamInfo">
		insert into exam_infos (subject_id, grade_id, exam_date, place_id) values 
		(#{subjectId}, #{gradeId}, #{examDate}, #{placeId} )
	</insert>
	
	<select id="countExamInfosForNotDuplicatedExam" resultType="int">
		select count(*) from exam_infos 
		where subject_id = #{subjectId} 
		and grade_id = #{gradeId} 
		and place_id = #{placeId} 
		and exam_date = #{examDate} 
	</select>
	
	<update id="updateExamInfo">
		update exam_infos set 
		exam_date = #{examDate}, 
		old_date = #{oldDate}, 
		comments = #{comments} 
		where id = #{id} 
	</update>
	
	<update id="updateCancel">
		update exam_infos set 
		cancel = 1, 
		comments = #{comments} 
		where id = #{id} 
	</update>
</mapper>