<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="language.exam.repository.GradesMapper">
	<resultMap type="language.exam.domain.exams.model.Grades" id="grades">
		<id column="id" property="id"></id>
		<result column="grade" property="grade"></result>
	</resultMap>
	<select id="selectAllGrades" resultType="Grades">
		select * from grades 
	</select>
	
	<select id="selectGrade" resultType="Grades">
		select * from grades 
		where id = #{id} 
	</select>
</mapper>