<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="language.exam.repository.GradesMapper">
	<resultMap type="language.exam.domain.exams.model.Grades" id="grades">
		<id column="id" property="id"></id>
		<result column="grade" property="grade"></result>
		<collection property="placeList" ofType="language.exam.domain.exam.Places" resultMap="language.exam.repository.PlacesMapper.places"></collection>
	</resultMap>
	<select id="selectAllGrades" resultType="Grades">
		select * from grades 
	</select>
	
	<select id="selectGrade" resultType="Grades">
		select * from grades 
		where id = #{id} 
	</select>
	
	<select id="countGrades" resultType="int">
		select count(*) from grades 
		where id = #{gradeId} 
	</select>
	
	<select id="selectIds" resultType="Integer">
		select id from grades 
	</select>
	
	<select id="selectExamDates" resultType="grades">
		select grades.grade, places.place, exam_infos.exam_date from grades 
		left join exam_infos 
		on grades.id = exam_infos.grade_id 
		right join places
		on exam_infos.place_id = places.id 
		where exam_infos.subject_id = #{subjectId} 
		and grade_id = grades.id 
		and place_id = places.id 
	</select>
</mapper>