<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="language.exam.repository.InfosMapper">
	<select id="selectAllInfos" resultType="Infos">
		select * from infos 
		order by post_date desc 
	</select>
	
	<select id="selectInfo" resultType="Infos">
		select * from infos 
		where id = #{id} 
	</select>
	
	<insert id="insertInfo">
		insert into infos (post_date, title, content) values 
		(curdate(), #{title}, #{content}) 
	</insert>
	
	<select id="countInfos" resultType="int">
		select count(*) from infos 
		where id = #{id} 
	</select>
	
	<update id="updateInfo">
		update infos set 
		title = #{title}, 
		content = #{content} 
		where id = #{id} 
	</update>
	
	<delete id="deleteInfo">
		delete from infos 
		where id = #{id} 
	</delete>
</mapper>