<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="language.exam.repository.InfosMapper">
	<select id="selectAllInfos" resultType="Infos">
		select * from infos 
	</select>
	
	<select id="selectInfo" resultType="Infos">
		select * from infos 
		where id = #{id} 
	</select>
</mapper>