<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="language.exam.repository.PlacesMapper">
	<resultMap type="language.exam.domain.exams.model.Places" id="places">
		<id column="p_id" property="id"></id>
		<result column="place" property="place"></result>
		<collection property="examInfoList"  ofType="language.exam.domain.exam.ExamInfos" resultMap="language.exam.repository.ExamInfosMapper.examInfos">
		</collection>
	</resultMap>
	<select id="selectAllPlaces" resultMap="places">
		select id as p_id, place from places 
	</select>
	
	<select id="selectPlace" resultMap="places">
		select id as p_id, place from places 
		where id = #{id} 
	</select>
	
	<select id="countPlaces" resultType="int">
		select count(*) from places 
		where id = #{placeId} 
	</select>
	
	<select id="selectIds" resultType="Integer">
		select id as p_id from places 
	</select>
</mapper>