<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="language.exam.repository.SubjectsMapper">
	<resultMap type="language.exam.domain.exams.model.Subjects" id="subjects">
		<id column="id" property="id"></id>
		<result column="subject" property="subject"></result>
	</resultMap>
	<select id="selectAllSubjects" resultType="Subjects">
		select * from subjects 
	</select>
	
	<select id="selectSubject" resultType="Subjects">
		select * from subjects 
		where id = #{id} 
	</select>
	
	<select id="countSubjects" resultType="int">
		select count(*) from subjects 
		where id = #{subjectId} 
	</select>
</mapper>