<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://lutraq.net.nz/thymeleaf/layout" 
 layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title th:text="#{exam-schedule}"></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div layout:fragment="content">
		<div class="container" style="width: 800px;">
			<div class="row justify-content-center">
				<div class="col-5">
					<h4 class="pt-1" th:text="#{your-schedule}"></h4>
				</div>
				<div class="col-5">
					<div class="text-end pt-2" th:text="#{today} + '    ' + ${#dates.format(today, 'yyyy年MM月dd日(E)')}"></div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-10 border border-dark" style="height: 200px; overflow-y: scroll; ">
					<div th:each="booking:${bookings}">
						<div th:if="${booking.examInfos.oldDate == null} and ${booking.examInfos.cancel == 0}">
							<div class="row border borer-dark" style="background-color: darkgrey;">	
								<div class="col">
									<h6 th:text="${#dates.format(booking.examInfos.examDate, 'yyyy年MM月dd日(E)')}"></h6>
								</div>
							</div>
						</div>
						<div th:if="${booking.examInfos.oldDate != null} and ${booking.examInfos.cancel == 0}">
							<div class="row border borer-dark" style="background-color: darkgrey;">
								<div class="col-4">
									<h6 th:text="${#dates.format(booking.examInfos.oldDate, 'yyyy年MM月dd日(E)')}" class="opacity-50"></h6>
								</div>
								<div class="col-1">
									<h6 th:text="'→'"></h6>
								</div>
								<div class="col-4">
									<h6 th:text="${#dates.format(booking.examInfos.examDate, 'yyyy年MM月dd日(E)')}"></h6>
								</div>
								<div class="col-3">
									<h6 th:text="#{date-change}" class="text-danger"></h6>
								</div>
							</div>
						</div>
						<div th:if="${booking.examInfos.cancel == 1}">
							<div class="row border borer-dark" style="background-color: darkgrey;">
								<div class="col-7">
									<h6 th:text="${#dates.format(booking.examInfos.examDate, 'yyyy年MM月dd日(E)')}" class="opacity-50"></h6>
								</div>
								<div class="col-5">
									<h6 th:text="#{exam-canceled}" class="text-danger"></h6>
								</div>
							</div>
						</div>
						<div th:if="${booking.examInfos.cancel == 0}">
							<div class="row border borer-dark">
								<div class="col-6">
									<h6 th:text="${booking.subjects.subject} + ' ' + ${booking.grades.grade} + ' ' + #{place} + ${booking.places.place}"></h6>
								</div>
								<div class="col-4">
									<a th:href="@{/change-place/{id} (id = ${booking.examId})}" th:text="#{change-booking}" class="p-0 btn btn-primary text-lignt"></a>
								</div>
	
								<div class="col-2">
									<a th:href="@{/confirm-cancel-exam/{id} (id = ${booking.examId})}" th:text="#{cancel-exam}" class="p-0 btn btn-danger text-light"></a>
								</div>
								<div class="col">
									<div th:text="${booking.examInfos.comments}" class="text-danger"></div>
								</div>
							</div>
						</div>
						<div th:if="${booking.examInfos.cancel == 1}">
							<div class="row border borer-dark">
								<div class="col-12">
									<h6 th:text="${booking.subjects.subject} + ' ' + ${booking.grades.grade} + ' ' + #{place} + ${booking.places.place}"></h6>
								</div>
								<div class="col">
									<div th:text="${booking.examInfos.comments}" class="text-danger"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row pt-3 justify-content-center">
				<div class="col-10">
					<h3 th:text="#{infos}"></h3>
				</div>
				<div class="row justify-content-center">
					<div class="col-10 m-2 border border-dark" style=" height: 200px; overflow-y: scroll;">
						<div th:each="info:${infos}">
							<div th:text="${#dates.format(info.postDate, 'yyyy年MM月dd日(E)')}"></div>
							<a th:text="${info.title}" th:href="@{/info-details/{id} (id = ${info.id})}"></a>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>