<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://lutraq.net.nz/thymeleaf/layout" 
 layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title th:text="#{add-exam}"></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<h3 th:text="#{add-exam}"></h3>
			<form th:action="@{/add-exam-for-admin}" method="post" th:object="${addExamInfoForm}">
				<div class="row mt-3">
					<div class="col-sm-2 col-6">
						<h6 th:text="#{subject}"></h6>
					</div>
					<div class="col-sm-2 col-6">
						<select th:field="*{subjectId}" th:errorclass="is-invalid" class="form-select bg-secondary text-light">
							<option th:each="subject:${subjects}" th:value="${subject.id}" th:text="${subject.subject}"></option>
						</select>
						<div class="invalid-feedback" th:errors="*{subjectId}"></div>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-2 col-6">
						<h6 th:text="#{grade}"></h6>
					</div>
					<div class="col-sm-2 col-6">
						<select th:field="*{gradeId}" th:errorclass="is-invalid" class="form-select bg-secondary text-light">
							<option th:each="grade:${grades}" th:value="${grade.id}" th:text="${grade.grade}"></option>
						</select>
						<div class="invalid-feedback" th:errors="*{gradeId}"></div>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-2 col-6">
						<h6 th:text="#{place}"></h6>
					</div>
					<div class="col-sm-2 col-6">
						<select th:field="*{placeId}" th:errorclass="is-invalid" class="form-select bg-secondary text-light">
							<option th:each="place:${places}" th:value="${place.id}" th:text="${place.place}"></option>
						</select>
						<div class="invalid-feedback" th:errors="*{placeId}"></div>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-sm-2 col-6">
						<h6 th:text="#{exam-date}"></h6>
					</div>
					<div class="col-sm-10 col-6">
						<input type="date" th:field="*{examDate}" th:errorclass="is-invalid" min="${afterOneMonth}">
						<div class="invalid-feedback" th:errors="*{examDate}"></div>
					</div>
				</div>
				<div th:if="${#fields.hasGlobalErrors()}">
					<div th:each="error:${#fields.globalErrors()}" th:text="${error}" class="text-danger"></div>
				</div>
				<div class="row  m-3 justify-content-end mt-5">
					<div class="col-auto">
						<a th:href="@{/admin-exams-for-admin}" th:text="#{back}" class="btn btn-secondary rounded-pill text-light"></a>
					</div>
					<div class="col-auto">
						<input type="submit" th:value="#{add-exam-btn}" class="btn btn-danger rounded-pill">
					</div>
				</div>
			</form>
		</div>
	</div>

</body>
</html>