<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://lutraq.net.nz/thymeleaf/layout" 
 layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title th:text="#{admin-exams}"></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="row mt-2 justify-content-center">
				<div class="col-sm-7 pt-1">
					<h3 th:text="#{admin-exams}"></h3>
				</div>
				<div class="col-auto">
					<a th:href="@{/add-exam-for-admin}" th:text="#{add-exam-btn}" class="btn btn-primary text-light rounded-pill"></a>
				</div>
			</div>
			<ul class="list-group">
				<li class="list-group-item" th:each="examInfo, stat :${examInfos}">
					<div class="row">
						<div class="col-sm-4">
							<h5 th:text="${examInfo.subjects.subject} + ' ' + ${examInfo.grades.grade}"></h5>
						</div>
						<div class="col-sm-4">
							<h5 th:text="${#dates.format(examInfo.examDate, 'yyyy年MM月dd日(E)')} + ' ' + ${examInfo.places.place}"></h5>
						</div>
						<div class="col-sm-2 col-6" th:if="${examInfo.cancel == 0}">
							<a th:href="@{/change-exam-date-for-admin/{id} (id = ${examInfo.id})}" th:text="#{change-exam-date-link}" class="p-0 btn btn-primary text-lignt"></a>
						</div>
						<div class="col-sm-2 col-6" th:if="${examInfo.cancel == 0}">
							<a th:href="@{/cancel-exam-for-admin/{id} (id = ${examInfo.id})}" th:text="#{cancel-exam-link-for-admin}" class="p-0 btn btn-danger text-light"></a>
						</div>
						<div class="col-2" th:if="${examInfo.cancel != 0}">
							<h5 th:text="#{cancel-exam-for-admin}" class="text-danger text-end"></h5>
						</div>
						<div th:text="${examInfo.comments}" class="text-danger"></div>
					</div>
				</li>
			</ul>
			<div class="d-flex justify-content-center mb-5">
				<ul class="pagination">
					<li class="page-item" th:if="${resultPage.hasPrevious}">
						<a class="page-link" th:href="@{/admin-exams-for-admin(page = ${resultPage.number} - 1)}" th:text="#{before}"></a>
					</li>
					<li class="page-item"  th:each="i:${#numbers.sequence(startPage, endPage)}">
						<span th:if="${i == resultPage.number}">
							<span class="page-link disabled" th:text="${i + 1}"></span>
						</span>
						<div th:if="${i != resultPage.number}">
							<a class="page-link" th:href="@{/admin-exams-for-admin(page = ${i})}">
								<span th:text="${i + 1}"></span>
							</a>
						</div>
					</li>
					<li class="page-item" th:if="${resultPage.hasNext}">
						<a class="page-link" th:href="@{/admin-exams-for-admin(page = ${resultPage.number} + 1)}" th:text="#{next}"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>

</body>
</html>