<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://lutraq.net.nz/thymeleaf/layout" 
 layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title th:text="#{admin-exams}"></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="row mt-2 justify-content-center">
				<div class="col-sm-7">
					<h3 class="pt-1" th:text="#{admin-exams}"></h3>
				</div>
				<div class="col-sm-3">
					<a th:href="@{/add-exam-for-admin}" th:text="#{add-exam-btn}" class="btn btn-primary text-light"></a>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-11">
					<ul class="list-group border border-dark">
						<li class="mw-100 list-group-item border border-dark" th:each="examInfo, stat :${examInfos}">
							<div class="row">
								<div class="col-sm-4">
									<h5 th:text="${examInfo.subjects.subject} + ' ' + ${examInfo.grades.grade}"></h5>
								</div>
								<div class="col-sm-4">
									<h5 th:text="${#dates.format(examInfo.examDate, 'yyyy年MM月dd日(E)')} + ' ' + ${examInfo.places.place}"></h5>
								</div>
								<div class="col-sm-2 col-6" th:if="${examInfo.cancel == 0}">
									<a th:href="@{/change-exam-date-for-admin/{id} (id = ${examInfo.id})}" th:text="#{change-date-for-admin}" class="p-0 btn btn-primary text-lignt"></a>
								</div>
								<div class="col-sm-2 col-6" th:if="${examInfo.cancel == 0}">
									<a th:href="@{/cancel-exam-for-admin/{id} (id = ${examInfo.id})}" th:text="#{cancel-exam-for-admin}" class="p-0 btn btn-danger text-light"></a>
								</div>
								<div class="col-4" th:if="${examInfo.cancel != 0}">
									<h5 th:text="#{cancel-exam-for-admin}" class="text-danger text-end"></h5>
								</div>
								<dvi class="col">
									<div th:text="${examInfo.comments}" class="text-danger"></div>
								</dvi>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-auto">
					<ul class="pagination">
						<li class="page-item" th:if="${resultPage.hasPrevious}">
							<a class="page-link" th:href="@{/admin-exams-for-admin(page = ${resultPage.number} - 1)}" th:text="#{before}"></a>
						</li>
						<li class="page-item"  th:each="i:${#numbers.sequence(0, resultPage.totalPages - 1)}">
							<span th:if="${i == resultPage.number}">
								<span class="page-link disabled" th:text="${i + 1}"></span>
							</span>
							<div th:if="${i != resultPage.number}">
								<a class="page-link" th:href="@{/admin-exams-for-admin(page = ${i})}">
									<span th:text="${i + 1}"></span>
								</a>
							</div>
						</li>
						<li class="page-item" th:if="${resultPage.hasNext}">
							<a class="page-link" th:href="@{/admin-exams-for-admin(page = ${resultPage.number} + 1)}" th:text="#{next}"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</body>
</html>