<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" 
 layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title th:text="${subject.subject} + ' ' + #{select-grade}"></title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="row p-1">
				<div class="col-auto" style="background-color: darkblue;">
					<h3 th:text="${subject.subject}" class="text-light"></h3>
				</div>
				<div class="col-auto" style="background-color: darkblue;">
					<p class="text-light" th:text="${grades}"></p>
				</div>
			</div>
			<h3 th:text="#{exam-book}"></h3>
			<div th:text="#{select-grade-msg}"></div>
			<form th:action="@{/select-grade}" method="post" th:object="${selectGradeForm}">
				<select th:field="*{gradeId}" th:errorclass="is-invalid" class="form-select bg-secondary text-light">
					<option th:each="grade:${gradesList}" th:text="${grade.grade}" th:value="${grade.id}"></option>
				</select>
				<p class="invalid-feedback" th:errors="*{gradeId}"></p>
				<div class="row pb-3 justify-content-end mt-5">
					<div class="col-sm-2 col-6">
						<a th:href="@{/}" th:text="#{back}" class="btn btn-secondary rounded-pill text-light"></a>
					</div>
					<div class="col-sm-4 col-6">
						<input type="hidden" th:field="*{subjectId}">
						<input type="submit" th:value="#{select-place-btn}" class="btn btn-primary rounded-pill">
					</div>
				</div>
			</form>
		</div>
	</div>

</body>
</html>