<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" 
 layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title th:text="${subject} + ' ' + #{change-place}"></title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<h3 th:text="${subject}" class="text-light m-1 p-1" style="background-color: darkblue; width: 200px;"></h3>
			<div class="row">
				<div class="col-sm-3 col-6">
					<h3 th:text="#{booking-change}"></h3>
				</div>
				<div class="col-sm-4 col-6">
					<h4 th:text="#{grade} + ${grade}" class="text-end"></h4>
				</div>
			</div>
			<p th:text="#{select-place-msg}"></p>
			<form th:action="@{/change-place/{id} (id = ${examId})}" method="post" th:object="${selectPlaceForm}">
				<select th:field="*{placeId}" th:errorclass="is-invalid" class="form-select bg-secondary text-light" style="width: 200px;">
					<option th:each="place:${places}" th:text="${place.place}" th:value="${place.id}"></option>
				</select>
				<p class="invalid-feedback" th:errors="*{placeId}"></p>
				<div class="row pb-3 justify-content-end mt-5">
					<div class="col-auto">
						<a th:href="@{/exam-schedule}" th:text="#{back}" class="btn btn-secondary rounded-pill text-light"></a>
					</div>
					<div class="col-auto">
						<input type="hidden" th:field="*{subjectId}">
						<input type="submit" th:value="#{change-exam-date-btn}" class="btn btn-primary rounded-pill">
					</div>
				</div>
			</form>
		</div>
	</div>

</body>
</html>