<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title th:text="#{complete-booking-change}"></title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<h3 th:text="#{complete-booking-change}"></h3>
			<p class="text-center mt-5" th:text="#{complete-booking-change-msg}"></p>
			<div class="text-center"><a th:href="@{/exam-schedule}" th:text="#{exam-schedule-link}" class="btn btn-primary rounded-pill"></a></div>
		</div>
	</div>

</body>
</html>