<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title th:text="#{confirm-booking-change}"></title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container" style="width: 700px;">
			<div class="row">
				<div class="col">
					<h3 th:text="#{confirm-booking-change}"></h3>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div th:text="#{confirm-booking-change-msg}"></div>
				</div>
			</div>
			<form th:action="@{/confirm-booking-change}" method="post">
				<div class="p-3 justify-content-center">
					<div class="border border-dark" style="width: 600px; height: 200px;">
						<div class="rwo mt-3">
							<div class="col-4">
								<div class="text-center" th:text="#{new-booking}"></div>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-4">
								<h5 th:text="${examInfo.subjects.subject}"></h5>
							</div>
							<div class="col-4">
								<h5 th:text="${examInfo.grades.grade}"></h5>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-8">
								<h5 th:text="#{exam-date} + ${#dates.format(examInfo.examDate, 'yyyy年MM月dd日(E)')}"></h5>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-4">
								<h5 th:text="#{place} + ${examInfo.places.place}"></h5>
							</div>
							<div class="col-4">
								<h5 th:text="#{fee} + ${fee.fee} + #{yen}"></h5>
							</div>
						</div>
					</div>
				</div>
				<div class="row mb-3 justify-content-end">
					<div class="col-3">
						<a th:href="@{/select-exam-date}" th:text="#{back-change-exam-date}"></a>
					</div>
					<div class="col-3">
						<input type="submit" th:value="#{complete-booking-change-btn}" class="btn btn-danger">
					</div>
				</div>
			</form>
		</div>
	</div>

</body>
</html>